<div *ngIf="false" id="container">
  <strong>{{ name }}</strong>
  <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
</div>


<div *ngIf="false" class="container">
  <div class="title">
    <a href="https://codepen.io/sashatran/" target="_blank">Subscribe Now</a>
  </div>
</div>

<div *ngIf="false" class="parallax">
  <div class="parallax__layer parallax__layer__0">
    <img src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_0.png?raw=true" />
  </div>
  <div class="parallax__layer parallax__layer__1">
    <img src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_1.png?raw=true" />
  </div>
  <div class="parallax__layer parallax__layer__2">
    <img src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_2.png?raw=true" />
  </div>
  <div class="parallax__layer parallax__layer__3">
    <img src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_3.png?raw=true" />
  </div>
  <div class="parallax__layer parallax__layer__4">
    <img src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_4.png?raw=true" />
  </div>
  <div class="parallax__layer parallax__layer__5">
    <img src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_5.png?raw=true" />
  </div>
  <div class="parallax__layer parallax__layer__6">
    <img src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_6.png?raw=true" />
  </div>
  <div class="parallax__cover"></div>
</div>

<div *ngIf="false" class="hero">
  <div class="parallax-layer layer-6"></div>
  <div class="parallax-layer layer-5"></div>
  <div class="parallax-layer layer-4"></div>
  <div class="parallax-layer bike-1"></div>
  <div class="parallax-layer bike-2"></div>
  <div class="parallax-layer layer-3"></div>
  <div class="parallax-layer layer-2"></div>
  <div class="parallax-layer layer-1"></div>
</div>

<div *ngIf="false">
  <div class="loader"></div>
  <div class="loader" style="--s:10px;--n:10;color:red"></div>
  <div class="loader" style="--g:0px;color:darkblue"></div>
  <div class="loader" style="--s:25px;--g:8px;border-radius:50px;color:green"></div>
</div>

<div *ngIf="false">
  <svg class="pl" viewBox="0 0 200 200" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <linearGradient id="pl-grad1" x1="1" y1="0.5" x2="0" y2="0.5">
        <stop offset="0%" stop-color="hsl(313,90%,55%)" />
        <stop offset="100%" stop-color="hsl(223,90%,55%)" />
      </linearGradient>
      <linearGradient id="pl-grad2" x1="0" y1="0" x2="0" y2="1">
        <stop offset="0%" stop-color="hsl(313,90%,55%)" />
        <stop offset="100%" stop-color="hsl(223,90%,55%)" />
      </linearGradient>
    </defs>
    <circle class="pl__ring" cx="100" cy="100" r="82" fill="none" stroke="url(#pl-grad1)" stroke-width="36" stroke-dasharray="0 257 1 257" stroke-dashoffset="0.01" stroke-linecap="round" transform="rotate(-90,100,100)" />
    <line class="pl__ball" stroke="url(#pl-grad2)" x1="100" y1="18" x2="100.01" y2="182" stroke-width="36" stroke-dasharray="1 165" stroke-linecap="round" />
  </svg>
</div>

<div *ngIf="false" class="card_body">
  <div class="card">
    <div class="card-actions">
      <a class="card-btn-float btn" href="#0_y" title="Add">✔</a>
      <a class="card-btn-float btn" href="#0_n" title="Remove">✖</a>
      <a class="card-image" href="#0_rm" title="Read more">
        <img src="https://picsum.photos/480/270" width="100%" height="270" alt="">
      </a>
    </div>
    
    <div class="card-body">
      <h3>Lorem ipsum dolor</h3>
      <p>Laudantium, iste exercitationem? Nostrum sed ipsam fugiat asperiores harum eveniet ex consequuntur, sapiente blanditiis voluptates!</p>
      <a href="#0_rm">Read more</a>
    </div>
  </div>
</div>

<div *ngIf="false" class="slider">
</div>

<div *ngIf="false">
  <div class="macbook">
    <div class="inner">
      <div class="screen">
        <div class="face-one">
          <div class="camera"></div>
          <div class="display">
            <div class="shade"></div>
          </div>
          <span>MacBook Air</span>
        </div>
        <img src="http://www.clker.com/cliparts/i/s/H/f/4/T/apple-logo-white.svg" class="logo" />
      </div>
      <div class="body">
        <div class="face-one">
          <div class="touchpad">
          </div>
          <div class="keyboard">
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key space"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key"></div>
            <div class="key f"></div>
            <div class="key f"></div>
            <div class="key f"></div>
            <div class="key f"></div>
            <div class="key f"></div>
            <div class="key f"></div>
            <div class="key f"></div>
            <div class="key f"></div>
            <div class="key f"></div>
            <div class="key f"></div>
            <div class="key f"></div>
            <div class="key f"></div>
            <div class="key f"></div>
            <div class="key f"></div>
            <div class="key f"></div>
            <div class="key f"></div>
          </div>
        </div>
        <div class="pad one"></div>
        <div class="pad two"></div>
        <div class="pad three"></div>
        <div class="pad four"></div>
      </div>
    </div>
    <div class="shadow"></div>
  </div>
  <div class='links'>
    <a href="https://twitter.com/neoberg" target="_blank">@neoberg</a>
    <a href="mailto:neoberg@gmail.com">contact me</a>
  </div>
</div>

<div *ngIf="false" class="robot_container">
  <div class="container">

    <div class="robotnik-container">
      <div class="smoke"></div>
      <div class="dr-robotnik-container">
        <div class="dr-robotnik">
          <div class="head">
            <div class="shine"></div>
            <div class="brow"></div>
            <div class="eyes">
              <div class="left eye"></div>
              <div class="right eye"></div>
            </div>
            <div class="mustache-container">
              <div class="left">
                <div class="top mustache-hairs"></div>
                <div class="medium mustache-hairs"></div>
                <div class="bottom mustache-hairs"></div>
              </div>
              <div class="right">
                <div class="top mustache-hairs"></div>
                <div class="medium mustache-hairs"></div>
                <div class="bottom mustache-hairs"></div>
              </div>
            </div>
            <div class="nose"></div>
          </div>
          <div class="dr-robotnik-body">
            <div class="shirt"></div>
            <div class="arm"></div>
          </div>
        </div>
      </div>
      <div class="ship-container">
        <div class="crystal">
          <div class="shine"></div>
        </div>
        <div class="external-balls">
          <div class="left ball"></div>
          <div class="right ball"></div>
        </div>
        <div class="ship-top"></div>
        <div class="ship">
          <div class="shadow"></div>
        </div>
        <div class="chassis-container">
          <div class="chassis-top">
            <div class="balls">
              <div class="ball"></div>
              <div class="ball"></div>
              <div class="ball"></div>
              <div class="ball"></div>
              <div class="ball"></div>
            </div>
          </div>
          <div class="chassis-medium">
            <div class="group-container">
              <div class="danger-bar"></div>
              <div class="slots">
                <div class="slot"></div>
                <div class="slot"></div>
                <div class="slot"></div>
              </div>
            </div>
          </div>
          <div class="gold-ball"></div>
          <div class="tube-container">
            <div class="tube"></div>
            <div class="tailtube">
              <div class="dots">
                <div class="row">
                  <div class="dot"></div>
                  <div class="dot"></div>
                  <div class="dot"></div>
                  <div class="dot"></div>
                </div>
                <div class="row">
                  <div class="dot"></div>
                  <div class="dot"></div>
                  <div class="dot"></div>
                </div>
                <div class="row">
                  <div class="dot"></div>
                  <div class="dot"></div>
                  <div class="dot"></div>
                  <div class="dot"></div>
                </div>
              </div>
            </div>
            <div class="line conector"></div>
            <div class="square conector"></div>
          </div>
        </div>
      </div>
      <div class="robotnik-shadow"></div>
    </div>

  </div>

  <div class="created">
    <span>Created by</span>
    <a href="https://manz.dev/"><h2>Manz.dev</h2></a>
    <p>on <a href="https://twitch.tv/ManzDev">Twitch</a> / <a href="https://youtube.com/c/ManzDev/">Youtube</a></p>
  </div>
</div>

<div *ngIf="false" class="hover_card">
  <div class="card-container">
    <div class="card">
      <h3>Hover me</h3><br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod maiores sapiente non asperiores deleniti, quos eos placeat corrupti id consequatur ullam accusantium, nesciunt aut fugiat at ipsam harum eveniet dolore.</p>
      <div class="layers">
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>   
      </div>
    </div> 
  </div>
</div>

<div *ngIf="false" class="book_component">
  <ul class="align">
    <li>
      <figure class='book'>

        <!-- Front -->

        <ul class='hardcover_front'>
          <li>
            <div class="coverDesign blue">
              <h1>CSS</h1>
              <p>BOOK</p>
            </div>
          </li>
          <li></li>
        </ul>

        <!-- Pages -->

        <ul class='page'>
          <li></li>
          <li>
            <a class="btn" href="#">Download</a>
          </li>
          <li></li>
          <li></li>
          <li></li>
        </ul>

        <!-- Back -->

        <ul class='hardcover_back'>
          <li></li>
          <li></li>
        </ul>
        <ul class='book_spine'>
          <li></li>
          <li></li>
        </ul>
        <figcaption>
          <h1>Fivera.net</h1>
          <span>By Nikola Petrovic</span>
          <p>Website dedicated to sharing resources</p>
        </figcaption>
      </figure>
    </li>
  </ul>
</div>

<div *ngIf="false" class="slideshow_banner">
  <div class="slideshow_image">
    <div class="slideshow_overlay"></div>
    <img src="assets/images/pic_1.jpg">
  </div>

  <div class="slideshow_text">
    <div class="animate__animated animate__fadeInDown slideshow_subtitle">
        <div class="">
          <h5 class="" style="color: white;">Welcome to Xventure</h5>		
        </div>
    </div>
    <div class="animate__animated animate__fadeInUp slideshow_title">
      <div class="">
        <h1 class="">Bring Your</h1>		
      </div>
    </div>
    <div class="animate__animated animate__fadeInUp slideshow_highlight" >
      <div class="">
        <h1 class="" style="color: rgb(67, 209, 228);">Adrenaline</h1>		
      </div>
    </div>
    <div class="animate__animated animate__fadeInUp slideshow_normal" >
      <div class="">
        <h1 class="" style="color: white;"> Today</h1>		
      </div>
    </div>
    <div class="animate__animated animate__fadeInUp" >
      <div class="" style="color: white;">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&nbsp;</p>						
      </div>
    </div>
    <div class="animate__slow animate__animated animate__fadeInUp" >
      <div class="">
        <div class="">
          <a href="#" class="" role="button" style="background: rgb(67, 209, 228);">
            <span class="">
              <span class="">Get Started</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="false" class="trip-ad">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="trip-ad-content">
          <div class="ad-title">
            <h2>Explore The <span>Thailand Trip</span></h2>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismody tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim adi minim veniam, qu nostrud exerci tation dolore magna aliquam erat volutpat.</p>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismody tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim adi minim veniam, qu nostrud exerci tation dolore magna aliquam erat volutpat.</p>
          <div class="trip-ad-btn">
            <a href="tour-detail.html" class="btn-blue btn-red">BOOK NOW</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="ad-price">
          <div class="ad-price-inner">
            <span>Starting at <span class="rate">$300</span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


