<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="display: flex; align-items: center; height: 100%;">
  <ion-header *ngIf="false" collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container *ngIf="false" name="Tab 1 page"></app-explore-container>

  <div class="tab1-component_notification_button_content" style="display: flex; align-items: center; justify-content: center; height: 100%;"> <!-------------- ui notification_button_content -------------->
    <ion-button (click)="notificationButtonModal()" class="tab1-component_notification_button"> <!-------------- ui notification_button -------------->
      <ion-label class="tab1-component_notification_button_icon"> <!-------------- ui notification_button_icon -------------->
        Notification
      </ion-label>
      <!-------------- end of ui notification_button_icon -------------->
    </ion-button>
    <!-------------- end of ui notification_button -------------->
  </div>
  <!-------------- end of ui notification_button_content -------------->

</ion-content>
